.room{
    /* border: 2px solid black; */
    height: 380px;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

#block0{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-top: 1%;
}

#block1{
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    
    

}
#block2{
    padding-left: 20%;
    margin-top: -20.5%;
    display: flex;
    flex-direction: row;
    
}
#block3{
    padding-left: 50%;
    padding-right: 2%;
    margin-top: -22.1%;
    display: flex;
    flex-direction: row;
}


a.button28 {
    margin-left: 1%;
    margin-top: 14%;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
     0 1px rgba(255,255,255,.2) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
  }
  a.button28:hover:not(:active) {
    background: linear-gradient(rgb(255,202,20), rgb(255,202,24)) rgb(126,126,134);
  }
  a.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(255,202,24)) rgb(255,202,24);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,202,24,.1);
  }


/* ПРО ИНПУТЫ ДЛЯ МАТЕРИАЛОВ */

/* ПОТОЛОК *//* ПОТОЛОК *//* ПОТОЛОК *//* ПОТОЛОК *//* ПОТОЛОК */
#select1_id1 {
    display: none;
    margin-top: 10%;
    margin-left: -34%;
}

#select1_id2 {
    display: none;
    margin-top: 10%;
    margin-left: -34%;
}

/* СТЕНЫ *//* СТЕНЫ *//* СТЕНЫ *//* СТЕНЫ *//* СТЕНЫ *//* СТЕНЫ */
#select2_id1 {
    display: none;
    margin-top: 10%;
    margin-left: -34%;
}

#select2_id2 {
    display: none;
    margin-top: 10%;
    margin-left: -34%;
}


#qw{
    border: none;
    outline: none;
    outline-offset: 0;
}































/*.content{*/
/*    margin: 0 50px;*/
/*}*/
/*.content_choose-room{*/
/*    width: 100%;*/
/*    margin: 30px 0;*/
/*}*/
/*.content_item{*/
/*    width: 150px;*/
/*    display: inline-block;*/
/*    border: 2px solid black;*/
/*}*/
/*.content_choose-type-work{*/
/*    margin: 30px 0;*/
/*}*/
/*.content_item-choose{*/
/*    width: 170px;*/
/*    height: 450px;*/
/*    display: inline-block;*/
/*    border: 2px solid black;*/
/*    padding: 10px;*/
/*}*/
/*.content_item_photo{*/
/*    background-color: darkgray;*/
/*    width: 150px;*/
/*    height: 80px;*/
/*    border-radius: 10px;*/
/*}*/
/*.name_room{*/
/*    background-color: darkgray;*/
/*    width: 150px;*/
/*    height: 80px;*/
/*    border-radius: 10px;*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*}*/
/*.item_checkbox{*/
/*}*/
/*ul li{*/
/*    list-style: none;*/
/*}*/
/*.content_choose-square{*/
/*    margin: 30px 0;*/

/*}*/
/*.content_item-square{*/
/*    width: 250px;*/
/*    border: 2px solid black;*/
/*    display: inline-block;*/
/*    margin: 10px;*/
/*}*/
/*.content_item-materials{*/
/*    border: 2px solid black;*/
/*    display: inline-block;*/
/*    margin: 10px;*/
/*}*/
/*input[type="text"]{*/
/*    width: 50px;*/
/*}*/
/*.content_results{*/
/*    background-color: darkgray;*/
/*    margin: 30px 0;*/
/*    padding: 10px 30px;*/
/*    width: 500px;*/
/*}*/
/*.separator{*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    background-color: darkgrey;*/
/*}*/
/*.footer{*/
/*    top: auto;*/
/*}*/